.StatsBox {
    display: inline-block;
    background-color: #1F1F1F;
    padding: 10px;
    margin-right: 10px;
}

.StatsBox h4 {
    font-size: 20px;
    margin: 0;
}

.StatsBox hr {
    width: 100%;
}
