.App-Table {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.Db-Table {
    border: 1px #3A3A3A;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    table-layout: auto;
}

.Db-Table th {
    padding: 5px;
    text-align: center;
    background-color: #1F1F1F;
}

.Db-Table td {
    padding: 5px;
    text-align: center;
    background-color: #121212;
}